.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
  color: #444;
}

/* Пошук */
.search-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #FFC0CB;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.d-inline-flex {
  background: #fdfdfd;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

