<div class="cards-container">
  <div class="card">
    <img src="images/red_car.png" alt="Red toy car">
  </div>

  <div>
    <h1>Speedster</h1>

    <p>
      Speedster is a bright and dynamic toy car created for children who enjoy
      fast races and imaginative play. Its simple but attractive design makes
      it suitable for both indoor and outdoor games.
    </p>

    <p>
      The car is made from durable plastic, which ensures long-term use and
      resistance to minor impacts. Thanks to its lightweight construction,
      Speedster is easy to hold and play with even for younger children.
    </p>

    <div class="info">
      <h2>Basic information</h2>
      <p>Color: Red</p>
      <p>Material: Plastic</p>
      <p>Price: 350 UAH</p>
      <p>Availability: In stock</p>
    </div>

  </div>

  <div class="card">
    <img src="images/blue_car.png" alt="Blue toy car">
  </div>

  <div>
    <h1>Monster Truck</h1>

    <p>
      Monster Truck is a strong and exciting toy car designed for kids who love
      adventures and off-road play. Its rugged design makes it perfect for indoor
      and outdoor games.
    </p>

    <p>
      The car is made from durable plastic, which ensures long-term use and
      resistance to minor impacts. Thanks to its lightweight construction,
      Speedster is easy to hold and play with even for younger children.
    </p>

    <div class="info">
      <h2>Basic information</h2>
      <p>Color: Blue</p>
      <p>Material: Metal</p>
      <p>Price: 520 UAH</p>
      <p>Availability: Out of stock</p>
    </div>

  </div>

</div>
