<div class="cards-container">
  <div class="card">
    <div class="image-wrapper">
      <div *ngIf="item.price &lt; 400" class="promo-badge">Sale</div>
      <img [src]="item.imageUrl" [alt]="item.name">
    </div>

    <div class="card-content">
      <h1>{{ item.name }}</h1>

      <p class="description">
        {{ item.description_1 }}
      </p>
      <p class="description">
        {{ item.description_2 }}
      </p>

      <div class="info">
        <h2>Basic information</h2>
        <p><strong>Color:</strong> {{item.color}}</p>
        <p><strong>Material:</strong> {{item.material}}</p>
        <p><strong>Price:</strong> {{ item.price }} UAH</p>
        <p><strong>Availability:</strong> {{item.inStock}}</p>
      </div>

      <a class="more-button" [routerLink]="['/items', item.id]">
        More Details
      </a>

    </div>
  </div>
</div>
